/* .patients-container {
  padding: 20px;
} */

.patient-search-container {
  margin-bottom: 20px;
}

.patients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.patient-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patient-info {
  margin-top: 10px;
}

.patient-info h2 {
  margin-bottom: 5px;
  font-size: 18px;
}

.patient-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
