.App {
  display: flex;
  flex-direction: column;
}

.content {
  transition: margin-left 0.3s ease;
  padding: 20px;
  flex-grow: 1;
  margin-top: 50px; /* Adjusted to account for the top menu */
}

.content.shifted {
  margin-left: 250px;
}

.content.shifted-closed {
  margin-left: 60px;
}
